{% extends "theme/base/base.html" %}
{% load static %}

{% block topbar %}
{% include "theme/base/navbar.html" %}
{% endblock %}

{% block content %}
<section class="pb-10 pt-10">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11">
        <div class="card">
            <div class="card-body px-5">
                <p class="card-text">Enter your email below and we'll send you a password reset link.</p>
                <div class="form-group py-3">
                    <form method="post" action="{% url 'reset_password' %}">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <div class="d-grid"><button class="btn btn-primary fw-500" type="submit">Reset Password</button></div>
                    </form>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
