{% extends "theme/base/base.html" %}
{% load custom_tags %}
{% load static %}

{% block topbar %}
{% include "theme/base/navbar.html" %}
{% endblock %}

{% block content %}
<section class="pb-10 pt-5">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-6">
            <div class="text-center">
                <img class="img-fluid" src="{% static 'assets/img/illustrations/404.png' %}" alt="...">
                <p class="lead">The page you requested is not available!</p>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}
